<hr>

<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<hr>
<p>Number of applications on file  →→→→→  <%= @shelter.total_applications %></p>
<p>Number of pets at this shelter  →→→→→  <%= @shelter.pets.count %></p>
<% if @shelter.shelter_reviews.empty? %>
  <p>Average shelter review rating   →→→→→  No Reviews</p>
<% else%>
  <p>Average shelter review rating   →→→→→  <%= @rating.round(1) %></p>
<% end %>
<hr>
<h2>Reviews:</h2>
<% @shelter.shelter_reviews.each do |review|%>
  <section id="review-<%=review.id%>">
    <% if review.image == "" %>
      <img src= <%= "https://innovationlabs.harvard.edu/wp-content/uploads/sites/5/2018/08/Coming-soon-stamp-300x150.jpg" %>>
    <% else %>
      <img src= <%=review.image %>>
    <% end %>
    <p>Title: <%= review.title %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Content: <%= review.content %></p>
    <p><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %></p>
    <p><%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete%></p>
  </section>
  <hr>
<% end %>



<p><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %></p>

<hr>

<p><%= link_to "Shelter's Pets Page", "/shelters/#{@shelter.id}/pets" %></p>
<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></p>
<p><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></p>
