<hr>
<h1>Shelter: <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
<h2><%="*** Available Pets Here: #{@shelter.pets.count} ***"%></h2>
<hr>
<% @shelter.pets.each do |pet| %>
  <%= image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
  <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <p>Description: <%= pet.description %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Adoption Status: <%= pet.status %></p>
  <p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
  <p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
  <hr>
<% end %>


<p><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></p>

