<hr>
<h1><center>Application # <%= "#{@application.id}" %> </center></h1>
<p>Applicant Name: <%= @application.name %> </p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Phone: <%= @application.phone%></p>
<p>Description: <%= @application.description %></p>
<% @application.pet_adoptions.each do |app| %>
  <section id="#{app.pet.id}"> <p> <%= link_to "Approve application for", "/pets/#{app.pet.id}/pet_adoptions/#{app.id}", method: :patch %> → <%= link_to "#{app.pet.name}", "/pets/#{app.pet.id}" %> </p></section>
<% end %>
<hr>
