
<%= image_tag(@pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
<p>Name: <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></p>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
<br>
<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
