<hr>
<Section id= "view_apps">
<p><%= link_to "View all applications for this pet", "/pets/#{@pet.id}/pet_adoptions" %></p>
</section
<hr>
<%= image_tag(@pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
<p>Name: <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></p>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<% if @pet.status == "Pending" %>
  <p>Adoption Status: <%= @pet.status %> application by <%= link_to "#{@applications.first.adoption_application.name}", "/applications/#{@applications.first.adoption_application_id}" %> </p>
<% else %>
  <p>Adoption Status: <%= @pet.status %> </p>
<% end %>
<hr>
<% if favorite_pets.favorited?(@pet.id) %>
  <p><%= link_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %></p>
<% else %>
  <p><%= link_to "Add to Favorites", "/pets/#{@pet.id}", method: :patch %></p>
<% end %>
<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
<hr>
