<hr>
<p>Current applicants for <%= "#{@pet.name}" %>:</p>
<% @pet.adoption_applications.each do |applicant| %>
  <p><%= link_to "#{applicant.name}", "/applications/#{applicant.id}" %></p>
<% end %>
<hr>
<%= image_tag(@pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
<p>Name: <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></p>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
<hr>
<% if favorite_pets.favorited?(@pet.id) %>
  <p><%= link_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %></p>
<% else %>
  <p><%= link_to "Add to Favorites", "/pets/#{@pet.id}", method: :patch %></p>
<% end %>
<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
<hr>
